// create colors
$color060714: #060714;
$color262840: #262840;
$color7780A1: #7780A1;
$colorDDE0E8: #DDE0E8;
$colorF1F1F6: #F1F1F6;
$colorF2F3F6: #F2F3F6;
$color2A27C9: #2A27C9;
$color514CFF: #514CFF;
$color2A27C9: #2a27c926;
$color514CFF: #514cff26;
$color76DECC:#76DECC;
$colorEA6CBC:#EA6CBC;
$colorFB4539:#FB4539;
$colorFFFFFF: #FFFFFF;